{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2021,
		"sourceType": "module"
	},

	"plugins": ["@typescript-eslint"],

	"extends": ["plugin:@typescript-eslint/recommended"],

	"rules": {
		"@typescript-eslint/typedef": [
			"warn",
			{
				"arrowParameter": true,
				"variableDeclaration": false,
				"parameter": true
			}
		],
		"@typescript-eslint/explicit-module-boundary-types": "off"
	},
	"overrides": [
		{
			"files": ["types.ts"],
			"rules": {
				"@typescript-eslint/no-unused-vars": "off"
			}
		},
		{
			"files": ["backend.ts"],
			"rules": {
				"no-constant-condition": "off"
			}
		},
		{
			"files": ["settings.ts"],
			"rules": {
				"camelcase": "off"
			}
		}
	]
}
